@model Garage25.Models.Vehicle

@{
    ViewBag.Title = "Check-out";
}

<h2>Check-out</h2>

<h3>Do you want to take this vehicle out?</h3>
<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Member.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Member.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Member.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VehicleType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VName)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.WheelTally)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WheelTally)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingDuration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ParkingCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParkingCost)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Check-out" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
